# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Unneeded assets
*.png
*.xcf
*.gif
*atlas.dat
*.wav

# Temp files
*~
*.swp
*bin/

# Generate audio files
assets/blHit
assets/bombExpl
assets/bossExpl
assets/bossMove
assets/charger
assets/door
assets/fall
assets/getItem
assets/heartup
assets/highjump
assets/jump
assets/jumpeJump
assets/jumperFall
assets/jumperJump
assets/menuMove
assets/menuSelect
assets/pause
assets/plDeath
assets/plHit
assets/plStep
assets/shootBoss
assets/shootEn
assets/signaler
assets/switchItem
assets/teleport
assets/terminal
assets/text

